@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;


.trips {

  //#region main

  &__main {
    margin-top: 16px;
  }

  //#region tab
  &__tab {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    @include container();

    &__subtitle {
      margin-top: 20px;
      @include text (14px,100%,510,-0.24px);
      color: #58585E;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainPageTabColor;
    border-radius: 20px;
    padding: 5px;

    &__blank {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      margin-left: 5px;
      border-radius: 16px;
      gap: 10px;
      &.mainPageActive {
        background-color: #FFFFC5;

        .trips__section__blank__link {
          color: #333333;
        }
      }
      &__icon {
        width: 24px;
        height: 24px;
      }

      &__link {
        text-decoration: none;
        color: #fff;
        @include text(14px, 100%, 590, -0.24px);
      }
    }
  }

  //#region cards
  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 12px;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &__img {
      }

      &__text {
        @include text(16px, 100%, 400, -0.24px);
        color: #F0EFEB;
      }
    }
  }
  //#endregion

  //#region content
  &__content {
    margin-top: 20px;
    @include container();

    &__filter {
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #264653;
        color: #fff;
        border-radius: 16px;
      }
    }

    &__cardlist {
      &__card {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        padding: 10px;
      }
    }
  }
  //#endregion

  //#endregion

}