//#region auth
$authInputBgColor: #F1F1F1;
$authSubmitBgColor: #264653;
$authFooterColor: #2B2B2B;
$authColor: #333333;
$authSecondColor: #C14A09;
$authAddPhotoButtonColor: #FFFFC5;

//#endregion

//region main page
$mainPageSecondColor: #264653;
$mainPageTabColor: #C14A09;
$mainPageButtonColor: #FFFFC5;
$mainPageFilterColor: #F0EFEB;
$mainPageInputBgColor: #EEEDEE;
$mainPageTrevelersColor: #58585E;
//endregion