@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.cardTrip {
  margin-top: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    &__avatars {
      position: relative;
    }

    &__avatar {
      width: 39px;
      height: 39px;
      border-radius: 32px;
    }

    &__country {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__up {
        display: flex;
        gap: 10px;
        &__name {
          @include text(16px, 100%, 510, -0.24px);
        }

        &__online {
          @include text(14px, 100%, 400, -0.24px);
          color: #aaaaaa;
        }
      }
      &__down {
        display: flex;
        gap: 8px;
      }
    }

    &__button {
      background-color: $mainPageSecondColor;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 16px;
    }
  }

  &__main {
    margin-top: 10px;
    &__title {
      @include text(16px, 100%, 400, -0.24px);
    }

    &__description {
      margin-top: 8px;
      @include text(14px, 20px, 400, -0.24px);
    }

    &__image {
      max-width: 120px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    &__actions {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      background-color: #FFFFC5;
      border-radius: 16px;
      &__button{
        border: none;
        display: flex;
        align-items: center;
        background-color: #FFFFC5;
        &__message {
          padding: 8px 10px;
          @include text(14px, 20px, 400, -0.24px);
          color: #fff;
          background-color: #264653;
          border-radius: 16px;
          border: none;
        }
      }
    }

    &__stats {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      margin-top: 20px;
    }
    &__stat {
      gap: 5px;
      display: flex;
      align-items: center;
    }
  }
}