@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {

  //#region header

  &__header {
    @include container();
  }

  &__notification {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 12px;
  }

  &__search {
    position: relative;
    margin-top: 20px;
    &__input {
      background-color: $mainPageInputBgColor;
      border: none;
      padding: 8px 16px;
      padding-left: 45px;
      border-radius: 16px;
      width: 100%;
      box-sizing: border-box;
      
      &::placeholder {
        color: $authColor;
        @include text(16px, 100%, 400, -0.24px);
      }
    }

    &__icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__country {
    margin-top: 16px;
    &__name {
      @include text(20px, 100%, 510, -0.24px);
    }

    &__travelers {
      @include text(14px, 100%, 400, -0.24px);
      color: $mainPageTrevelersColor;
    } 
  }
  //#endregion

}